{% if page.mediaplayer == true %}
<script>
$('audio,video').mediaelementplayer();
</script>
{% endif %}

<script src="{{ 'assets/js/javascript.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/site.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/jquery.backstretch.min.js' | absolute_url }}"></script>
{% if page.header.image_fullwidth %}
<script>
    $("#masthead").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
    $("#masthead-with-text").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
</script>
{% endif %}





{% if site.google_analytics_tracking_id %}
	{% include helper/google_analytics.html %}
{% endif %}


{% if site.tawkto_embed_uri and page.tawkto == true %}
	{% include helper/tawk_to.html %}
{% endif %}

{% if page.id %}
  <script type="text/javascript" src="{{'assets/slick/slick.js' | absolute_url}}"></script>
  <script  src="{{'assets/js/index.js' | absolute_url}}"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js'></script>
  <script>
      function initMap() {
        var latLon = {lat: {{ page.maps.lat }}, lng: {{ page.maps.lon}}};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{ page.maps.lat }}, lng: {{ page.maps.lon}}},
          zoom: 8
        });
        var marker = new google.maps.Marker({
          position: latLon,
          map: map,
          title: '{{ page.title}}'
        });


      }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMZFV5XevC0LnfkELDv312uX6OihTjlMU&callback=initMap"
      async defer></script>

{% endif%}
