<div class="row column">
  <div id="jump-top-top" class="text-right">
    <a href="#top-of-page"><svg width="22" height="22" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"/></svg></a>
  </div>
</div>


<footer id="footer-content">
  <div id="footer">
    <div class="row">
      <div class="medium-6 large-5 columns">
        <h5>{{ site.data.ui[site.lang].info_website }}</h5>

        <p class="sans"><small>
          {{ site.description }}
          <a href="{{ '/info/' | absolute_url }}">{{ site.data.ui[site.lang].more }}</a>
        </small></p>
      </div><!-- /.large-6.columns -->


      <div class="small-6 medium-3 large-3 large-offset-1 columns">
        {% for service_item in site.data.services %}
        {% if forloop.first == true %}
        <h5>{{ service_item.menu_name }}</h5>
        {% endif %}
        {% endfor %}

        <ul class="no-bullet sans">
          {% for service_item in site.data.services %}
          {% if service_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
          <li {% if service_item.class %}class="{{ service_item.class }}" {% endif %}>
            <small><a href="{{ domain }}{{ service_item.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a></small>
          </li>
          {% endfor %}
        </ul>
      </div><!-- /.large-4.columns -->


      <div class="small-6 medium-3 large-3 columns">

      </div><!-- /.large-3.columns -->
    </div><!-- /.row -->

  </div><!-- /#footer -->


  <div id="subfooter">
    <nav class="row">
      <div id="subfooter-left" class="small-12 medium-6 columns sans">
        <small>{{ site.credits }}</small>
      </div>

      <div id="subfooter-right" class="small-12 medium-6 columns">
        <ul class="menu simple">
          {% include helper/social_media_icons.html %}
          {% for nav in site.data.navigation_footer %}
          {% if nav.url contains 'http' %}
          {% assign domain = '' %}
          {% elsif nav.url == '#' %}
          {% assign domain = '' %}
          {% else %}
          {% assign domain = site.baseurl | prepend: site.url %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div><!-- /#subfooter -->
</footer>
