{% if page.mediaplayer == true %}
<script>
$('audio,video').mediaelementplayer();
</script>
{% endif %}

<script src="{{ 'assets/js/javascript.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/site.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/jquery.backstretch.min.js' | absolute_url }}"></script>
{% if page.header.image_fullwidth %}
<script>
    $("#masthead").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
    $("#masthead-with-text").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
</script>
{% endif %}





{% if site.google_analytics_tracking_id %}
	{% include helper/google_analytics.html %}
{% endif %}


{% if site.tawkto_embed_uri and page.tawkto == true %}
	{% include helper/tawk_to.html %}
{% endif %}

{% if page.id %}
  <script type="text/javascript" src="{{'assets/slick/slick.js' | absolute_url}}"></script>
  <script  src="{{'assets/js/index.js' | absolute_url}}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js'></script>
  <script>
     function initMap() {
	     console.log("hello");
	     
	     
	     var map = new google.maps.Map(document.getElementById('map'),{
		     center: {lat: parseInt('42.6285'), lng: parseInt('25.2442')},
		     zoom: 8
	     });
	     
	     var marker = new google.maps.Marker({
		  position: {lat: 42.6285, lng: 25.2442},
		  map: map,
		  title: '{{ page.title}}'
		});
     }

  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8ww2qdsoz0oXVdcmWcCfqczAjCPuhnSo&amp;callback=initMap"
      async defer></script>

{% endif%}
