---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{{ site.lang | slice: 0,2 | default: "en" }}">
<head>
	{% include helper/head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_boilerplate %}
	{% include helper/navigation.html %}
	{% endunless %}

	{% include helper/masthead.html %}
	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include helper/footer.html %}
	{% endunless %}

	{% include helper/footer_scripts.html %}
</body>
</html>
