---
layout: default
format: frontpage
---
{% if page.image.title %}
<div class="row t30">
    <div class="small-12 columns">
        <img src="{{ '/images/' | absolute_url }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
        {% if page.image.caption_url and page.image.caption %}
        <p class="text-right caption">
            <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
        </p>
        {% endif %}
    </div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}

<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div>
    </div>
</div>

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
{% assign widgets = site.data.widgets %}
{% assign container_class = "medium-4 columns frontpage-widget" %}
{% if widgets.size > 0 %}
  {% for widget in widgets %}
    {% assign loopindex = forloop.index | modulo: 3 %}
    {% if loopindex == 1 %}
      <div class="row t60">
        {% include helper/widget.html widget=widget container_class=container_class %}
    {% elsif forloop.last %}
        {% include helper/widget.html widget=widget container_class=container_class %}
      </div>
    {% elsif loopindex == 2 %}
        {% include helper/widget.html widget=widget container_class=container_class %}
    {% else %}
        {% include helper/widget.html widget=widget container_class=container_class %}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div>
    </div>
{% endif %}

{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}
{% comment %}
{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <figure>
                <a href="{{ post.url | absolute_url }}" title="{{ post.title | escape_once }}"><img width="1200" src="{{ '/images/' | absolute_url }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>

            {% if post.image.caption_url and post.image.caption %}
            <figcaption class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </figcaption>
            {% endif %}
            </figure>
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.ui[site.lang].new_blog_entries | default: "New Blog Articles" }}</h2>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2 class="t0"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ post.url | absolute_url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.ui[site.lang].read_more | default: "Read More&nbsp;›" }}</strong></a>
            </p>
            {% endfor %}
        </div>

        <div class="medium-6 columns">
            <p class="sans">{{ site.data.ui[site.lang].more_articles | default: "More Articles" }}</p>
            {% include list-posts entries='3' offset='1' %}
        </div>
    </div>
{% endunless %}
{% endcomment %}
{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div>
